SERVICE_NAME=wallet
ENV=development
PORT=9002
GLOBAL_TIMEOUT_IN_SECONDS=60
SUPABASE_JWKS_URL=http://localhost:54321/auth/v1/.well-known/jwks.json
GRACEFUL_TIMEOUT_IN_SECONDS=5
POSTGRE_URL="postgres://postgres:postgres@localhost:54322/postgres?sslmode=disable"
