ENV=development
PORT=9001
WEBHOOK_SECRET=account-service-webhook-secret
DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres?schema=account"
DATABASE_SCHEMA=account
SERVICE_NAME=account
SUPABASE_JWKS_URL=http://localhost:54321/auth/v1/.well-known/jwks.json
